In [4]:
import pandas as pd

titanic_data = pd.read_csv('titanic3.csv')
aug_test_data = pd.read_csv('aug_test.csv')
housing_data = pd.read_csv('housing_prices.csv')

print("Titanic Dataset:")
print(titanic_data.head())
print("\nAug_test Dataset:")
print(aug_test_data.head())
print("\nHousing Prices Dataset:")
print(housing_data.head())

Titanic Dataset:
   pclass  survived                                             name     sex  \
0     1.0       1.0                    Allen, Miss. Elisabeth Walton  female
1     1.0       1.0                   Allison, Master. Hudson Trevor    male
2     1.0       0.0                     Allison, Miss. Helen Loraine  female
3     1.0       0.0             Allison, Mr. Hudson Joshua Creighton    male
4     1.0       0.0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female

       age  sibsp  parch  ticket      fare    cabin embarked boat   body  \
0  29.0000    0.0    0.0   24160  211.3375       B5        S    2    NaN
1   0.9167    1.0    2.0  113781  151.5500  C22 C26        S   11    NaN
2   2.0000    1.0    2.0  113781  151.5500  C22 C26        S  NaN    NaN
3  30.0000    1.0    2.0  113781  151.5500  C22 C26        S  NaN  135.0
4  25.0000    1.0    2.0  113781  151.5500  C22 C26        S  NaN    NaN

                         home.dest
0                     St Louis, MO
1  Montreal, PQ / Chesterville, ON
2  Montreal, PQ / Chesterville, ON
3  Montreal, PQ / Chesterville, ON
4  Montreal, PQ / Chesterville, ON

Aug_test Dataset:
   enrollee_id      city  city_development_index  gender  \
0        32403   city_41                   0.827    Male
1         9858  city_103                   0.920  Female
2        31806   city_21                   0.624    Male
3        27385   city_13                   0.827    Male
4        27724  city_103                   0.920    Male

       relevent_experience enrolled_university education_level  \
0  Has relevent experience    Full time course        Graduate
1  Has relevent experience       no_enrollment        Graduate
2   No relevent experience       no_enrollment     High School
3  Has relevent experience       no_enrollment         Masters
4  Has relevent experience       no_enrollment        Graduate

  major_discipline experience company_size company_type last_new_job  \
0             STEM          9          <10          NaN            1
1             STEM          5          NaN      Pvt Ltd            1
2              NaN         <1          NaN      Pvt Ltd        never
3             STEM         11        10/49      Pvt Ltd            1
4             STEM        >20       10000+      Pvt Ltd           >4

   training_hours
0              21
1              98
2              15
3              39
4              72

Housing Prices Dataset:
      price  area  bedrooms  bathrooms  stories mainroad guestroom basement  \
0  13300000  7420         4          2        3      yes        no       no
1  12250000  8960         4          4        4      yes        no       no
2  12250000  9960         3          2        2      yes        no      yes
3  12215000  7500         4          2        2      yes        no      yes
4  11410000  7420         4          1        2      yes       yes      yes

  hotwaterheating airconditioning  parking prefarea furnishingstatus
0              no             yes        2      yes        furnished
1              no             yes        3       no        furnished
2              no              no        2      yes   semi-furnished
3              no             yes        3      yes        furnished
4              no             yes        2       no        furnished

In [5]:

print("Titanic Missing Values:")
print(titanic_data.isnull().sum())
print("\nAug_test Missing Values:")
print(aug_test_data.isnull().sum())
print("\nHousing Prices Missing Values:")
print(housing_data.isnull().sum())

Titanic Missing Values:
pclass          1
survived        1
name            1
sex             1
age           264
sibsp           1
parch           1
ticket          1
fare            2
cabin        1015
embarked        3
boat          824
body         1189
home.dest     565
dtype: int64

Aug_test Missing Values:
enrollee_id                 0
city                        0
city_development_index      0
gender                    508
relevent_experience         0
enrolled_university        31
education_level            52
major_discipline          312
experience                  5
company_size              622
company_type              634
last_new_job               40
training_hours              0
dtype: int64

Housing Prices Missing Values:
price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [6]:
import pandas as pd

titanic_data = pd.read_csv('titanic3.csv')
aug_test_data = pd.read_csv('aug_test.csv')
housing_data = pd.read_csv('housing_prices.csv')
titanic_data['age'] = titanic_data['age'].fillna(titanic_data['age'].median())
titanic_data['fare'] = titanic_data['fare'].fillna(titanic_data['fare'].median())
titanic_data['embarked'] = titanic_data['embarked'].fillna(titanic_data['embarked'].mode()[0])
titanic_data = titanic_data.drop(['cabin', 'boat', 'body', 'home.dest'], axis=1)
aug_test_data['gender'] = aug_test_data['gender'].fillna(aug_test_data['gender'].mode()[0])
aug_test_data['enrolled_university'] = aug_test_data['enrolled_university'].fillna(aug_test_data['enrolled_university'].mode()[0])
aug_test_data['education_level'] = aug_test_data['education_level'].fillna(aug_test_data['education_level'].mode()[0])
aug_test_data['major_discipline'] = aug_test_data['major_discipline'].fillna(aug_test_data['major_discipline'].mode()[0])
aug_test_data['experience'] = aug_test_data['experience'].fillna(aug_test_data['experience'].mode()[0])
aug_test_data['company_size'] = aug_test_data['company_size'].fillna(aug_test_data['company_size'].mode()[0])
aug_test_data['company_type'] = aug_test_data['company_type'].fillna(aug_test_data['company_type'].mode()[0])
aug_test_data['last_new_job'] = aug_test_data['last_new_job'].fillna(aug_test_data['last_new_job'].mode()[0])
print("Titanic dataset missing values after preprocessing:")
print(titanic_data.isnull().sum())

print("\nAug_test dataset missing values after preprocessing:")
print(aug_test_data.isnull().sum())

print("\nHousing Prices dataset missing values after preprocessing:")
print(housing_data.isnull().sum())

Titanic dataset missing values after preprocessing:
pclass      1
survived    1
name        1
sex         1
age         0
sibsp       1
parch       1
ticket      1
fare        0
embarked    0
dtype: int64

Aug_test dataset missing values after preprocessing:
enrollee_id               0
city                      0
city_development_index    0
gender                    0
relevent_experience       0
enrolled_university       0
education_level           0
major_discipline          0
experience                0
company_size              0
company_type              0
last_new_job              0
training_hours            0
dtype: int64

Housing Prices dataset missing values after preprocessing:
price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [11]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split


scaler = StandardScaler()


titanic_data[['age', 'fare']] = scaler.fit_transform(titanic_data[['age', 'fare']])


numerical_columns = ['bedrooms', 'bathrooms', 'parking']  # Example numerical columns
housing_data[numerical_columns] = scaler.fit_transform(housing_data[numerical_columns])

print("Scaled Titanic Data (first 5 rows):")
print(titanic_data[['age', 'fare']].head())

print("\nScaled Housing Data (first 5 rows):")
print(housing_data[numerical_columns].head())

X_titanic = titanic_data.drop('survived', axis=1)
y_titanic = titanic_data['survived']
X_train_titanic, X_test_titanic, y_train_titanic, y_test_titanic = train_test_split(X_titanic, y_titanic, test_size=0.2, random_state=42)

X_housing = housing_data.drop('price', axis=1)
y_housing = housing_data['price']
X_train_housing, X_test_housing, y_train_housing, y_test_housing = train_test_split(X_housing, y_housing, test_size=0.2, random_state=42)

print("\nTitanic dataset split:")
print(f"X_train_titanic: {X_train_titanic.shape}, X_test_titanic: {X_test_titanic.shape}")
print(f"y_train_titanic: {y_train_titanic.shape}, y_test_titanic: {y_test_titanic.shape}")

print("\nHousing dataset split:")
print(f"X_train_housing: {X_train_housing.shape}, X_test_housing: {X_test_housing.shape}")
print(f"y_train_housing: {y_train_housing.shape}, y_test_housing: {y_test_housing.shape}")

Scaled Titanic Data (first 5 rows):
        age      fare
0 -0.038931  3.444003
1 -2.216698  2.287674
2 -2.132692  2.287674
3  0.038615  2.287674
4 -0.349118  2.287674

Scaled Housing Data (first 5 rows):
   bedrooms  bathrooms   parking
0  1.403419   1.421812  1.517692
1  1.403419   5.405809  2.679409
2  0.047278   1.421812  1.517692
3  1.403419   1.421812  2.679409
4  1.403419  -0.570187  1.517692

Titanic dataset split:
X_train_titanic: (1048, 9), X_test_titanic: (262, 9)
y_train_titanic: (1048,), y_test_titanic: (262,)

Housing dataset split:
X_train_housing: (436, 12), X_test_housing: (109, 12)
y_train_housing: (436,), y_test_housing: (109,)

In [12]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False)

#
X_titanic = titanic_data.drop('survived', axis=1)
y_titanic = titanic_data['survived']
X_train_titanic, X_test_titanic, y_train_titanic, y_test_titanic = train_test_split(X_titanic, y_titanic, test_size=0.2, random_state=42)

X_train_encoded = encoder.fit_transform(X_train_titanic[['sex', 'embarked']])
X_test_encoded = encoder.transform(X_test_titanic[['sex', 'embarked']])

X_train_titanic = X_train_titanic.drop(['sex', 'embarked'], axis=1)
X_test_titanic = X_test_titanic.drop(['sex', 'embarked'], axis=1)


encoded_columns = encoder.get_feature_names_out(['sex', 'embarked'])
X_train_encoded_df = pd.DataFrame(X_train_encoded, columns=encoded_columns, index=X_train_titanic.index)
X_test_encoded_df = pd.DataFrame(X_test_encoded, columns=encoded_columns, index=X_test_titanic.index)

X_train_titanic_final = pd.concat([X_train_titanic, X_train_encoded_df], axis=1)
X_test_titanic_final = pd.concat([X_test_titanic, X_test_encoded_df], axis=1)

In [13]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()


X_train_titanic_final[['age', 'fare']] = scaler.fit_transform(X_train_titanic_final[['age', 'fare']])
X_test_titanic_final[['age', 'fare']] = scaler.transform(X_test_titanic_final[['age', 'fare']])

In [14]:

X_housing = housing_data.drop('price', axis=1)
y_housing = housing_data['price']
X_train_housing, X_test_housing, y_train_housing, y_test_housing = train_test_split(X_housing, y_housing, test_size=0.2, random_state=42)

In [15]:
print(titanic_data[['age', 'fare', 'sex', 'embarked']].isnull().sum())

age         0
fare        0
sex         1
embarked    0
dtype: int64

In [16]:
print(X_train_encoded_df.head())

     sex_female  sex_male  sex_nan  embarked_C  embarked_Q  embarked_S
199         1.0       0.0      0.0         1.0         0.0         0.0
303         0.0       1.0      0.0         1.0         0.0         0.0
481         1.0       0.0      0.0         1.0         0.0         0.0
331         0.0       1.0      0.0         0.0         0.0         1.0
10          0.0       1.0      0.0         1.0         0.0         0.0

In [17]:
print(X_train_titanic_final[['age', 'fare']].describe())

                age          fare
count  1.048000e+03  1.048000e+03
mean  -2.881495e-17  1.694997e-17
std    1.000477e+00  1.000477e+00
min   -2.266412e+00 -6.430804e-01
25%   -5.713757e-01 -4.906253e-01
50%   -1.055634e-01 -3.639933e-01
75%    4.378843e-01 -4.319334e-02
max    3.931477e+00  9.249163e+00

In [18]:
print(aug_test_data.isnull().sum().sum())

0

In [19]:
print(housing_data.isnull().sum().sum())

0